.b-shadow {
    transition: transform .5s;
}
/*cubic-bezier(0,.63,1,.41)*/
.b-shadow:nth-of-type(odd) {
    animation: .8s ease-in-out 0s FromRight;
}
    .b-shadow:nth-of-type(even) {
        animation: .8s ease-in-out 0s FromLeft;
    }
    .b-shadow:hover {
        transform: scale(1.02);
    }

@keyframes FromRight {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes FromLeft {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
