@using AppetizerHtmlHelper;

@{
    ViewBag.Title = "Partner Info";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@* JSGRID Includes *@
<link href="~/Content/font-awesome.css" rel="stylesheet" />
<link href="~/Content/component.css" rel="stylesheet" />
<link href="~/Content/jgrid.css" rel="stylesheet" />
<link href="~/Content/simplePagination.css" rel="stylesheet" />
<script src="~/Scripts/jquery.simplePagination.js"></script>
@* JSGRID Includes *@


<div style="height:auto;" id="block">
    <form>
        <div class="content-form-title">
            <h4 style="padding-top:20px;"><b>Partner</b> Info</h4>
            <hr />
        </div>

        <div class="row" style="display:none;">
            <div class="col-md-4" style="display:none;">
                <input type="text" name="RecordID" id="RecordID" value="" style="width:100%" onchange="" />
                <input type="text" name="PartnerId" id="PartnerId" value="" style="width:100%" onchange="" />
                <input type="text" name="UserId" id="UserId" value="" style="width:100%" onchange="" />
                <span id="eRecordId" class="hideError"></span>
            </div>
        </div>

        <div class="row" style="margin-top:5px;">
            <div class="col-md-3">
                <label>Name</label>
                <input type="text" name="PartnerName" id="PartnerName" value="" class="k-textbox" style="width:100%" />
                <span id="ePartnerName" class="hideError"></span>
            </div>

            <div class="col-md-3">
                <label>Address</label>
                <input type="text" name="Address" id="Address" value="" class="k-textbox" style="width:100%" />
                <span id="eAddress" class="hideError"></span>
            </div>
            <div class="col-md-3">
                <label>Facility Status</label>
                <input type="text" name="FacilityStatus" id="FacilityStatus" value="" style="width:100%" />
                <span id="eFacilityStatus" class="hideError"></span>
            </div>
            <div class="col-md-3">
                <label>Host Community Activities</label>
                <input type="text" name="HostCommunityActivities" id="HostCommunityActivities" value="" style="width:100%" />
                <span id="eHostCommunityActivities" class="hideError"></span>
            </div>
        </div>


        <div class="row" style="margin-top:5px;">
            <div class="col-md-3">
                <label>District</label>
                <input type="text" name="DistrictCode" id="DistrictCode" value="" style="width:100%" onchange="" />
                <span id="eDistrictCode" class="hideError"></span>
            </div>

            <div class="col-md-3">
                <label>Upazila</label>
                <input type="text" name="UpazilaCode" id="UpazilaCode" value="" style="width:100%" onchange="" />
                <span id="eUpazilaCode" class="hideError"></span>
            </div>
            <div class="col-md-3">
                <label>Union</label>
                <input type="text" name="UnionCode" id="UnionCode" value="" style="width:100%" onchange="" />
                <span id="eUnionCode" class="hideError"></span>
            </div>
            <div class="col-md-3">
                <label>Village</label>
                <input type="text" name="VillageCode" id="VillageCode" value="" style="width:100%" onchange="" />
                <span id="eVillageCode" class="hideError"></span>
            </div>
        </div>

        <div class="row" style="margin-top:5px;">
            <div class="col-md-3">
                <label>Center</label>
                <input type="text" name="CenterCode" id="CenterCode" value="" style="width:100%" onchange="" />
                <span id="eCenterCode" class="hideError"></span>
            </div>
            <div class="col-md-3">
                <label>Camp</label>
                <input type="text" name="CampId" id="CampId" value="" style="width:100%" onchange="" />
                <span id="eCampId" class="hideError"></span>
            </div>

            <div class="col-md-3">
                <label>Block</label>
                <input type="text" name="BlockId" id="BlockId" value="" style="width:100%" onchange="" />
                <span id="eBlockId" class="hideError"></span>
            </div>
            <div class="col-md-2 col-md-offset-4" style="padding-top:25px;">
                <button type="button" onclick="fnSave()" class="btn btn-success"><i class="fa fa-plus"></i> Save</button>
                @*<button type="button" onclick="fnSearch(1)" class="btn btn-primary"><i class="fa fa-search"></i> Search</button>*@
                <button type="button" onclick="fnClear()" class="btn btn-warning"><i class="fa fa-recycle"></i> Clear</button>
            </div>
        </div>
    </form>
</div>


<script>
      $("#FacilityStatus").kendoDropDownList({
        optionLabel: "Select...",
        dataTextField: "Text",
        dataValueField: "Value",
        dataSource: [{ Text: "Temporary", Value: "1" }, { Text: "Semi Permanent", Value: "2" }, { Text: "Permanent", Value: "3" }]
      });

      $("#HostCommunityActivities").kendoDropDownList({
        optionLabel: "Select...",
        dataTextField: "Text",
        dataValueField: "Value",
        dataSource: [{Text: "Community Based", Value: "1" }, { Text: "Center Based", Value: "2" }]
      });

    var currentPageNumber = 1;
    function fnClear() {
        $("#UpazilaCode").data("kendoDropDownList").select("");
        $("#DistrictCode").data("kendoDropDownList").select("");
        $("#UnionCode").data("kendoDropDownList").select("");
        $("#VillageCode").data("kendoDropDownList").select("");
        $("#CampId").data("kendoDropDownList").select("");
        $("#BlockId").data("kendoDropDownList").select("");
        $("#BlockId").data("kendoDropDownList").select("");
        $("#RecordId").val("");
    }

    function GetDistrict() {
        $("#DistrictCode").kendoDropDownList({
            optionLabel: "Select...",
            dataTextField: "Text",
            dataValueField: "Value",
            change: districtChange,
            dataSource: {
                transport: {
                    read: {
                        dataType: "json",
                        url: "/filter/GetDistrictCode",
                    }
                }
            }
        });
    }

    function districtChange() {
        var districtCode = $("#DistrictCode").val();
        upazila = $("#UpazilaCode").kendoDropDownList({
            optionLabel: "Select...",
            dataTextField: "Text",
            dataValueField: "Value",
            change: upazilaChnage,
            dataSource: {
                transport: {
                    read: {
                        dataType: "json",
                        url: "/filter/GetUpazilaCode/?DistrictCode=" + districtCode,
                    }
                }
            }
        });
        //$("#UpazilaCode").data("kendoDropDownList").trigger('change');
    }

    function upazilaChnage() {
        union = $("#UnionCode").kendoDropDownList({
            optionLabel: "Select...",
            dataTextField: "Text",
            dataValueField: "Value",
            change: unionChange,
            dataSource: {
                transport: {
                    read: {
                        dataType: "json",
                        url: "/filter/GetUnionCode/?DistrictCode=" + $("#DistrictCode").val() + "&UpazilaCode=" + $("#UpazilaCode").val(),
                    }
                }
            }
        });
        //$("#UnionCode").data("kendoDropDownList").trigger('change');
    }

    function unionChange() {
        village = $("#VillageCode").kendoDropDownList({
            optionLabel: "Select...",
            dataTextField: "Text",
            dataValueField: "Value",
            change: villageChange,
            dataSource: {
                transport: {
                    read: {
                        dataType: "json",
                        url: "/filter/GetVillageCode/?DistrictCode=" + $("#DistrictCode").val() + "&UpazilaCode=" + $("#UpazilaCode").val() + "&UnionCode=" + $("#UnionCode").val(),
                    }
                }
            }
        });
    }

    function villageChange() {
        $('#CampId').kendoDropDownList({
            optionLabel: "Select...",
            dataTextField: "Text",
            dataValueField: "Value",
            change: campCenterChange,
            dataSource: {
                transport: {
                    read: {
                        dataType: "json",
                        url: "/filter/GetCampId/?DistrictCode=" + $("#DistrictCode").val() + "&UpazilaCode=" + $("#UpazilaCode").val() + "&UnionCode=" + $("#UnionCode").val() + "&VillageCode=" + $("#VillageCode").val()
                    }
                }
            }
        });

        $('#CenterCode').kendoDropDownList({
            optionLabel: "Select...",
            dataTextField: "Text",
            dataValueField: "Value",
            dataSource: {
                transport: {
                    read: {
                        dataType: "json",
                        url: "/filter/GetCenterId/?DistrictCode=" + $("#DistrictCode").val() + "&UpazilaCode=" + $("#UpazilaCode").val() + "&UnionCode=" + $("#UnionCode").val() + "&VillageCode=" + $("#VillageCode").val()
                    }
                }
            }
        });
    }
        function campCenterChange() {
            $('#BlockId').kendoDropDownList({
                optionLabel: "Select...",
                dataTextField: "Text",
                dataValueField: "Value",
                change: villageChange,
                dataSource: {
                    transport: {
                        read: {
                            dataType: "json",
                            url: "/filter/GetBlockId/?CampId=" + $("#CampId").val()
                        }
                    }
                }
            });
        }

    $(document).on("ready", function () {
        function dropdownChange(control, method) {
            control.bind('change', method);
        }
        var district;
        var upazila;
        var union;
        var village;
        var campid;
        var centerId;
        GetDistrict();
       
        $('#RecordID').val(getUrlVars()["recordId"]);
        SetToTop($('#RecordID').val());
    });


    function fnSave() {
        debugger
        var urlpath = '@Url.Action("Save", "PartnerInfo")';
        var jsonData = appetizer.div.getJsonObjectFromDiv('block', '0');

        appetizer.actionCall(urlpath, jsonData, "POST", function (data, result) {
            if (result) {
                appetizer.message.showInfo('#showMsg', data.Data, 10000);
                fnReset();
            }
            else { appetizer.message.showError('#showMsg', data.Data, 10000); }
        });
    }

    function SetToTop(recordId) {
        var getUrl = '@Url.Action("GetPartnerInfoByID")';
        appetizer.ajaxLoder.showPleaseWait();
        appetizer.actionCall(getUrl, { id: recordId }, 'json', function (data, result) {
            appetizer.div.setJsonObjectToDiv(data, 'block');
            $("#DistrictCode").data("kendoDropDownList").trigger('change');
            $("#UpazilaCode").data("kendoDropDownList").trigger('change');
            $("#UnionCode").data("kendoDropDownList").trigger('change');
            $("#VillageCode").data("kendoDropDownList").trigger('change');
            $("#CampId").data("kendoDropDownList").trigger('change');
            appetizer.ajaxLoder.hidePleaseWait();

        });
    }

     function getUrlVars() {
        var vars = [], hash;
        var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
        for (var i = 0; i < hashes.length; i++) {
            hash = hashes[i].split('=');
            vars.push(hash[0]);
            vars[hash[0]] = hash[1];
        }
        return vars;
    }
</script>


